/* Reset Css */
* {
  padding:0;
  margin:0;
  box-sizing: border-box;
  border:0
  }

  .page{
    width: 750px;
    height: 1930px;
    margin: auto;
  }

  body{
    font-family: "poppins";
    background: #E5E5E5;

  }

  body::before{
    content: "";
    width: 100%;
    height: 436px;

    position: absolute;
    left: 0;
    top: 0;
    background: #535971;
    z-index: -1;
  }

  header{
    width: 417px;
    margin-top: 140px;
    
  }

  header h1{
    font-family: "Staatliches";
    font-size: 48px;
    font-weight: normal;
    line-height: auto;
    color: white;
  }

  header p{
    font-size: 20px;
    font-weight: normal;
    height: auto;
    color: white;
    margin-top: 18px;
  }

  form{

    background: white;
    height: 1084px;
    margin-top: 58px;
    border-radius: 20px 20px 0 0;
  }